.arts {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;

    .art {
        list-style-type: none;
        padding: 0;

        .art-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-style: solid;
            width: fit-content;
            height: fit-content;
            border-color: #2EC4B6;
            border-width: 1px;

            .art-image {
                width: 10em;
                height: 10em;
                object-fit: cover;
                object-position: top;
            }
            // .art-date {
            //     text-align: center;
            //     width: 100%;
            //     margin: 0;
            //     color: #011627;
            //     background-color: #2EC4B6;
            // }
        }

    }
}
.pagination-div {
    padding: 20px;
    background-color: #E71D36;
    display: flex;
    margin-top: auto;
    justify-content: space-between;    
    align-items: center;

    .pagination-nav {
        min-width: 107px;
    }

    .pagination-arrow-anchor {
        text-decoration: none;
        color: #FDFFFC;
    }

    .pagination-arrow {
        margin: 0;
        font-weight: 900;
        font-size: xx-large;
    }
    .pagination-current{
        display: flex;
        align-items: center;
        margin: 0;
        
        .pagination-current-page {
            margin: 0;
            font-weight: 900;
            font-size: xx-large;
        }
    }
}