nav {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: 0 auto;
    justify-content: center; 
    border-color: white;
    border-bottom-style: solid;
    border-radius: 4px;
    border-width: 2px;

    .nav-item  {
        display: flex;
        justify-content: center;
        width: 50px;
        text-decoration: none;
        color: #FDFFFC;
        padding: 10px;
    }
    
    .nav-item:hover {
        background-color: #FF9F1C;
        border-radius: 4px;
    }
}
